# https://intellipaat.com/community/10422/gitignore-exclude-folder-but-include-specific-subfolder
!/llvm/llvm-project/
/llvm/llvm-project/*
!/llvm/llvm-project/clang-tools-extra
/llvm/llvm-project/clang-tools-extra/*
!/llvm/llvm-project/clang-tools-extra/loop-convert/

*.xz
.idea
.vscode
